<%- include('../partials/header.ejs') %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('../partials/topbar.ejs') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <%- include('../partials/alert.ejs') %>

              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Expense</h1>
              </div>

              <%- include('table-expense.ejs') %>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include modal -->
  <%- include('add-expense-modal.ejs') %>
  <%- include('update-expense-modal.ejs') %>
  

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top-button.ejs') %>

  <%- include('../partials/js.ejs') %>

  <script>
    $('#expenseTable').on('click', '#btn-expense-update', function() {
      const uuid = $(this).data('uuid');
      const description = $(this).data('description');
      const date = $(this).data('date');
      const price = $(this).data('price');
      const receipt = $(this).data('receipt');
      const assignment_id = $(this).data('assignment_id');
      console.log(description);
      $('#update-expense-modal').modal('show');

      $('.uuid').val(uuid);
      $('.description').val(description);
      $('.date').val(date);
      $('.price').val(price);
      $('.receipt').val(receipt);
      $('.assignment_id').val(assignment_id);
    })
  </script>

</body>

</html>